body {
    box-sizing: border-box;
    margin: 0 15px;
    width: 100%;
    font-family: helvetica, arial, sans-serif;
    color: #3D3D3D;
    overflow-x: hidden;
}

h1 {
    color: #0056b3;
}

.camView {
    display: flex;
    flex-direction: column;
}

video {
    margin: 20px auto;
    height: auto;
    max-width: 90%;
    display: block;
    border: 1px solid #0056b3;
    border-radius: 20px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    
    &:hover {
        background-color: #007bff;
    }
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}